<h1>Editing Admin Dashboard Theme</h1>

<%= render 'form', admin_dashboard_theme: @admin_dashboard_theme %>

<%= link_to 'Show', @admin_dashboard_theme %> |
<%= link_to 'Back', admin_dashboard_themes_path %>
