<% if object.errors.any? %>
  <div id="error_explanation">
   <div class="alert alert-error">
     The form contains <%= pluralize(object.errors.count, "error") %>.
   </div>
  <ul>
   <% object.errors.full_messages.each do |msg| %>
    <li>* <%= msg %></li>
   <% end %>
 </ul>
</div>
<% end %>

<% if false %>
    How to use this for debugging simple_form errors:
  <%= simple_form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    ...
  <% end %>
<% end %>
