<h1><%= fa_icon 'quote-left' %> Toolbox-App <%= fa_icon 'quote-right'%></h1>

<p class="lead">Open source participation tools for your daily needs.</p>

<hr />

<p><%= fa_icon 'hand-o-right' %> Please login in order to go to your personalized tooling portal.</p>
