<%= render partial: 'shared/heading', :locals => {:h1 => @tool.title, :p => @tool.text, :icon => { :color => @tool.color, :name => @tool.icon } } %>

<div class="row main-content">
  <%= sanitize(@tool.content) %>
</div>
