<div class="main-heading">
  <h1><%= fa_icon 'quote-left' %> About <%= fa_icon 'quote-right'%></h1>
  <p class="lead">Some extra information explaining who we are and what we can do for you.</p>
</div>

<p class="main-content">Content goes here ...</p>

