<div class="main-heading">
  <h1><%= fa_icon 'quote-left' %> Contact <%= fa_icon 'quote-right'%></h1>
  <p class="lead">Feel free to get a hold of us if you have any questions.</p>
</div>

<p class="main-content">Content goes here ...</p>
