<%= render partial: 'shared/heading', :locals => {:h1 => 'Contact', :p => 'Feel free to get in touch with us if you have any questions'} %>

<div class="row main-content contact">
  <div class="col-md-4"> </div>

  <div class="col-md-4">

  <div class="row">
    <div class="col-md-2">
      <%= fa_icon 'envelope', class: 'fa-3x palette-1' %>
    </div>
    <div class="col-md-5" style="padding-top: 13px">
      <a href="mailto:team@socioneers.com">team@socioneers.com</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= fa_icon 'globe', class: 'fa-3x palette-2' %>
    </div>
    <div class="col-md-5" style="padding-top: 13px">
      <a href="http://www.socioneers.com" target="_blank">http://www.socioneers.com</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= fa_icon 'phone', class: 'fa-3x palette-3' %>
    </div>
    <div class="col-md-5" style="padding-top: 13px">
      +31 64 66 28 283
    </div>
  </div>
  </div>

</div>
