<%= render partial: 'shared/heading', :locals => {:h1 => 'Contact', :p => 'Feel free to get in touch with us if you have any questions'} %>

<div class="row main-content">
  <p>Content goes here ...</p>
</div>
