html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'Lato', sans-serif;
}

body {
  background: #ddd;
  padding-top: 7rem;
}

.main-wrapper {
  background: #fff;
  padding: 3rem 1.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35)
}
