// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  th.mobile-hide,
  td.mobile-hide {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  th.mobile-hide,
  td.mobile-hide {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  th.mobile-hide,
  td.mobile-hide {
    display: table-cell;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  th.mobile-hide,
  td.mobile-hide {
    display: table-cell;
  }
}
