<%= render partial: 'shared/heading', :locals => {:h1 => 'OpenID Callback', :p => 'Here are the results of the authentication request'} %>

<div class="row main-content openidcallback">

  <div id="retrievedInfo">The id_token claims and userinfo were not found.</div>

</div>
