<%= render partial: 'shared/heading', :locals => {:h1 => 'OpenID Callback', :p => 'Here are the results of the authentication request'} %>

<div class="row main-content openidcallback">

    <h2>ID Token</h2>
    <div id="tokenClaims">Not found.</div>

    <h2>User Info</h2>
    <div id="userInfoClaims">Not found.</div>

</div>
